.cabin {
 	font-family: "Cabin", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.cabin-bold{
 	font-family: "Cabin", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: 700;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}



.domine {
	font-family: "Domine", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.koh-santepheap-bold {
	font-family: "Koh Santepheap", serif;
	font-weight: 700;
	font-style: normal;
}

.koh-santepheap-black {
	font-family: "Koh Santepheap", serif;
	font-weight: 900;
	font-style: normal;
}


p, h1, h2, h3, h4, li {
	font-family: "Cabin", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

