footer {
	background-color: var(--darkGray);
	display: flex;	
}

footer h4 {
	color: var(--veryLightPeach);
	font-size: 115%;
	margin-bottom: 4px;
	text-align: center;
}

footer p {
	color: var(--veryLightPeach);
}

footer a {
	flex: 1;
}

footer a > div {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8px;
}

footer > div > div {
	margin-top: 6px;
	margin-bottom: 6px;
}

footer img {
	height: 24px;
	margin: 6px;
}

footer > a > div > div {
	display: flex;
	align-items: center;
}

footer > a > div:hover {
	background-color: var(--hoverDarkGray);
}