/*.box-image::after {
	content: "";
	height: 100%;
	display: block;
	position: relative;
	background-color: var(--hoverDarkGray);
	opacity: 0;
	border-radius: 2vh;

.box-image:hover::after {
	opacity: 0;
*/

div.hover {
	height: 100%;
	width: 100%;
	border-radius: 2vh;
	opacity: 0;
	background-color: #000f;
	display: block;
	position: absolute;
	transition: opacity 0.35s cubic-bezier(.67,0,.33,1);
}
div.hover > p {
	font-size: 24px;
}

/*@keyframes hoveroff {
	from {opacity: 0.7;}
	to {opacity: 0;}
}
*/

div.hover:hover {
	opacity: 0.7;
	/*animation: hoveron 0.35s cubic-bezier(.67,0,.33,1) forwards;*/
}
/*@keyframes hoveron {
	from {opacity: 0;}
	to {opacity: 0.7;}
}*/


div.hover > p {
	color: var(--veryLightPeach);
	background: rgba(0, 0, 0, 0.4);
}