/*.box-image::after {
	content: "";
	height: 100%;
	display: block;
	position: relative;
	background-color: var(--hoverDarkGray);
	opacity: 0;
	border-radius: 2vh;

.box-image:hover::after {
	opacity: 0;
*/

div.hover {
	height: calc(100% - 4vh);
	width: calc(100% - 4vh);
	border-radius: 2vh;
	background-color: #0000;
	display: block;
	position: absolute;
	transition: background-color 0.35s cubic-bezier(.67,0,.33,1);
	padding: 2vh;
}
div.hover > p {
	font-size: 24px;
}

div.hover:hover {
	background-color:  #0c0c0caa;
	
}
div.hover:hover > p {
	color: var(--veryLightPeach);
	background-color: #0c0c0caa;
}

/*div.hover:hover > p:hover {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 1vh;
	width: 100%;
	
}*/


div.hover > p {
	/*background: rgba(0, 0, 0, 0.4);*/
	color: #0000;
	transition:
		color 0.35s cubic-bezier(.67,0,.33,1),
		background-color 0.35s cubic-bezier(.67,0,.33,1);
	background-color: #0000;
	border-radius: 1em;
	display: inline-block;
	padding-right: 0.4em;
	padding-left: 0.4em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
