:root {
	--underline-height-bottom: 0.8vh;
}

.homeimg {
	display: flex;
	justify-content: center;
	background-color: #000;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}


.homeimg img#main {
	height: 100vh;
}

.homeimg img.icon {
	height: clamp(5px, 4.5vw, 8vh);
	/*margin-bottom: 2.8%;
	height: clamp(4.125px, 4vw, 6vh);*/
}

.homeimg > div {
	position: relative;
	overflow: hidden;
}

.homeimg > div div {
	position: absolute;
	top: 37%;
	left: 5%;
}

.homeimg h1 {
	font-size: clamp(10px, 9vw, 16vh);

}

.homeimg h2 {
	font-size: 150%;
}

div.corp {
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
}

div.article {
	padding: 26px;
	padding-top: 26px;
	padding-bottom: 26px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0.2px black;
	background-color: var(--lightPeach);
	margin-bottom: 30px;
}

div.article h1 {
	font-size: min(7vh,10vw);
	text-decoration: underline;
	text-decoration-color: var(--orange);
	padding-bottom: 1vh;
	display: inline;
	width: max-content;
}
div.article img.icon {
	height: min(4vh,5vw);
}

div.article p {
	font-size: min(4vh,5vw);
}

.underline-anim {
	position: relative;
	display: inline-block;
}

.underline-anim::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: var(--underline-height-bottom, 1vh);
	width: 0;
	height: var(--underline-height-bottom, 0.8vh);
	background: black;
	transition: width 0.3s ease;
}

.underline-anim:hover::after {
	width: 100%;
}
